<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<thead>
<tr>
    <th></th>
    <th class="sort-column value">门店ID</th>
    <th class="sort-column value">门店名称</th>
    <th class="sort-column value">商品ID</th>
    <th class="sort-column value">商品名称</th>
    <th class="sort-column value">促销</th>
    <th class="sort-column value">促销状态</th>
    <th class="sort-column value">当前售价</th>
</tr>

<thead>
<tr>
    <th>
        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks"
                                                                               style="position: absolute; opacity: 0;">
            <ins class="iCheck-helper"
                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div>
    </th>
    <th class="sort-column value">门店ID</th>
    <th class="sort-column value">门店名称</th>
    <th class="sort-column value">商品ID</th>
    <th class="sort-column value">商品名称</th>
    <th class="sort-column value">促销</th>
    <th class="sort-column value">促销状态</th>
    <th class="sort-column value">当前售价</th>
</tr>
</thead>
<tbody>
<tr>
    <td><input type="checkbox" class="i-checks" value="903-100000112-无籽西瓜" name="productId" checked=""></td>
    <td>903</td>
    <td>望京店</td>
    <td>100000112</td>
    <td>无籽西瓜</td>
    <td>无</td>
    <td>不可售</td>
    <td>7.6</td>
</tr>
<tr>
    <td><input type="checkbox" class="i-checks" value="903-100000113-0105测试称重商品促销1" name="productId" checked=""></td>
    <td>903</td>
    <td>望京店</td>
    <td>100000113</td>
    <td>0105测试称重商品促销1</td>
    <td>无</td>
    <td>不可售</td>
    <td>10.5</td>
</tr>
</tbody>
form?activityId=2352:189
<thead>
<tr>
    <th>
        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks"
                                                                               style="position: absolute; opacity: 0;">
            <ins class="iCheck-helper"
                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div>
    </th>
    <th class="sort-column value">门店ID</th>
    <th class="sort-column value">门店名称</th>
    <th class="sort-column value">商品ID</th>
    <th class="sort-column value">商品名称</th>
    <th class="sort-column value">促销</th>
    <th class="sort-column value">促销状态</th>
    <th class="sort-column value">当前售价</th>
</tr>
</thead>
<tbody>
<tr>
    <td><input type="checkbox" class="i-checks" value="903-100000112-无籽西瓜" name="productId" checked=""></td>
    <td>903</td>
    <td>望京店</td>
    <td>100000112</td>
    <td>无籽西瓜</td>
    <td>无</td>
    <td>不可售</td>
    <td>7.6</td>
</tr>

</tbody>


</body>
</html>